@font-face {
    font-family: 'Avaleigh';
    src: url('/fonts/Avaleigh-Bold.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avaleigh';
    src: url('/fonts/Avaleigh-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avaleigh';
    src: url('/fonts/Avaleigh-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Regular.ttf') format('opentype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-Bold.ttf') format('opentype');
    font-weight: 600;
    font-style: normal;
}